*{
    color: black !important;
    font-family: 'Raleway', sans-serif;
}
.hidden {
    display: none;
}
.barra {
    background-color: rgba(95, 92, 92, 0.4);
}

#t1{
    text-align: center;
    margin-top: 3%;
}
.tex1{
    text-align: center;
    margin-top: 2%;
}
#tex2{
    text-align: center;
    margin-top:3%;
}
.tam{
   width:100px;
}
.imgf{
 position: relative;
 margin-bottom: 5px;
 width:100%;
 height: 100%;
}
.imgfp{
    position: relative;
    margin-bottom: 5px;
     width:100%;
    height: auto;
    
}



.efec{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(95, 92, 92, 0.4);
    width: 100%;
    height: 0;
    transition: 1s;
    overflow: hidden;
}
.efecp{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(95, 92, 92, 0.4);
    width: 100%;
    height: 0;
    transition: 1s;
    overflow: hidden;
}
.efecp h3{
    color:rgb(255, 255, 255);
    font-weight:300;
    font-size:30px;
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imgfp:hover .efecp{
    height:100%;
    cursor:pointer;
}
.efec h3{
    color:rgb(255, 255, 255);
    font-weight:300;
    font-size:30px;
    position: absolute;
    top:50%;
    left:50%;
    text-align: center;
    transform: translate(-50%, -50%);
}
.imgf:hover .efec{
    height:100%;
    cursor:pointer;
}
.sef{
    transition: 1s;
  }
  .sef:hover{
    transform: scale(1.3);
  }
.bgc{
    transition: 1s;
}
.bgc:hover{
    background-color: rgba(95, 92, 92, 0.4); ;
    transform: scale(1.1);
    
}

@media screen and (max-width:800px){
    .ocultar{
        display: none !important;
    }

    
}